.services {
  padding: 8px 4rem;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}
.service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-description {
  color: rgba(20, 30, 56, 1);
  text-align: justify;
}
.offer-heading{
    text-align: end;
}
