.homeimage {
  width: 100%;
  position: relative;
  top: -41px;
  height: -webkit-fill-available;
}
.vh100{
  height: 100vh;
}
.companylogo {
  width: 10rem;
}
.content {
  position: absolute;
  top: 60px;
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 1.5rem;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  background-color: rgb(87 87 150 / 81%);
  border-radius: 3px;
  padding: 0px 10px;
  transition: 100ms ease-out;
}
.search-content {
  position: absolute;
  top: 10rem;
  padding: 0rem 6rem;
}
